<p id="notice"><%= notice %></p>

<p>
  <strong>Idbook:</strong>
  <%= @book.idbook %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Idauthor:</strong>
  <%= @book.idauthor %>
</p>

<p>
  <strong>Ideditorial:</strong>
  <%= @book.ideditorial %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
